body,
.first-block {
    margin-bottom: 20px;
    padding: 20px 20px 20px 20px;
    background-color: #db7e40;
    font-size: 50px;
    text-align: center;
    color: #000000;

}

.second-block2 {
    display: inline-block;
    color: #b8166f;
    font-size: 30px;
    align-items: center;
}

span1 {
    padding: 1px 100px;
}

span2 {
    padding: 1px 174px;
}

span3 {
    padding: 1px 125px;
}

.second-block1 {
    display: inline-block;
    border: 20px;
    align-items: center;
}

span1 {
    padding: 2px 120px;
}

.third-block {

    text-align: justify;
    font-size: 20px;
    color: #000000;
}

p2 {
    font-size: 50px;
    color: white;

}